ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;

  width: 360px;
  height: 200px;
}

.gallery {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  row-gap: 24px;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  object-fit: cover;
  flex-basis: calc((100% -24px) / 3);
}
.gallery-image {
  display: block;
  max-width: 100%;
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.1);
}
