body {
  font-family: 'Montserrat', sans-serif;
  padding: 35px;
}
button {
  width: 75px;
  height: 40px;
  border-radius: 10px;
  background-color: #b2b2b2;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 0;
}
.disabled {
  width: 75px;
  height: 40px;
  border-radius: 10px;
  background-color: #0037fe;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 0;
}

.disabled:hover,
.disabled:focus {
  background-color: #0037ff;
}

.disabled {
  color: #ffffff;
  background-color: #b2b2b2;
  cursor: not-allowed;
}
.flatpickr-input.flatpickr-mobile {
  width: 280px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 15px;
  letter-spacing: 0.04em;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 10px 15px;
  outline: none;
}

.flatpickr-input.flatpickr-mobile:hover {
  border-radius: 5px;
  border: 1px solid #000;
}

.flatpickr-input.flatpickr-mobile:focus {
  border-radius: 5px;
  border: 1px solid #4e75ff;
}

.flatpickr-input.flatpickr-mobile.disabled {
  color: #ffffff;
  background-color: #b2b2b2;
  border: 1px solid transparent;
}

.flatpickr-input.flatpickr-mobile.disabled:hover,
.flatpickr-input.flatpickr-mobile.disabled:focus {
  cursor: not-allowed;
  border: 1px solid transparent;
}
.flatpickr-calendar.open {
  background-color: #ffffff;
}
.form-btn {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 360px;
  height: 40px;
  border-radius: 10px;
  background-color: #0138ff;
  border: none;
  padding: 0;
  margin-top: 10px;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #587cfe;
}

.access-svg {
  background-image: url(../img/succes.svg);
}
.error-svg {
  background-image: url(../img/error.svg);
}
.timer {
  display: flex;
  width: 390px;
  height: 70px;
  gap: 25px;
  background-color: #ffffff;
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.value {
  color: #000000;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  color: #2e2f42;
  font-size: 15px;
  text-transform: uppercase;
}
.form {
  width: 360px;
  height: 230px;
  margin-top: 10px;
}

.delay-input {
  width: 330px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #000000;
  outline: none;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.delay-input:hover {
  border: 1px solid #000;
}

.delay-input:focus {
  border: 1px solid #0037fe;
}

.visually-hidden {
  padding: 0;
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
  margin-bottom: 25px;
  margin-top: 30px;
}
